:root {
    --brandColor: #473C38;
    --primaryColor: #C2B19C;
    --secondColor: #F0F1F0;
    --thirdColor: #B2935B;
    --darkColor: #666666;
    --fontSizeH1: 60px;
    --fontSizeH2: 48px;
    --fontSizeH3: 24px;
    --fontSizeH4: 40px;
    --fontSizeP1: 16px;
}

body {
    font-family: "Playfair Display", sans-serif;
}

a {
    text-decoration: none;
    color: var(--brandColor);
    font-size: var(--fontSizeP1);
}

h1 {
    font-size: var(--fontSizeH1);
    color: #FFFFFF;
}

p, .btn {
    font-size: var(--fontSizeP1);
    font-family: "Roboto", sans-serif;
}

a:hover {
    text-decoration: underline;
}

.banner {
    background-color: var(--brandColor);
}

.banner p {
    color: #FFFFFF;
}

.btn-banner {
    background-color: var(--primaryColor);
    color: var(--brandColor);
    border: 5px;
    height: 40px;
    width: 230px;
    font-size: var(--fontSizeP1);
    cursor: pointer;
}

.btn-banner:hover {
    background-color: none;
    border: 0.5px solid var(--primaryColor);
    border-color: var(--primaryColor);
    color: var(--primaryColor)
}